@media screen and (max-width: 1800px){
	/* for category */
	article{
		padding: 50px 50px 157px;
	}
	article .content{
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
	article .galery div{
		margin-bottom: 150px;
	}
	article .price-list{
		align-items: center;
	}
	article .price-list div::before,
	article .price-list div::after{
		height: 45px;
		left: -70px;
	}
	article .price-list div::after{
		display: block;
		right: -70px;
		left: auto;
	}
	article .price-list div:hover::before{
		left: -30px;
	}
	article .price-list div:hover::after{
		right: -30px;
	}

	/* /for category */
}
@media screen and (max-width: 1440px){
	/* for index */
	body{
		flex-flow: column;
	}
	section.main,
	section.menu{
		width: 100%;
		margin-right: auto;
		max-width: none;
		max-height: none;
	}
	section.menu{
		height: auto;
	}
	/* /for index */

	/* for category */
	header h1{
		font-size: 65px;
	}
	header p{
		font-size: 28px;
		letter-spacing: 0.5em;
	}
	article h1{
		font-size: 50px;
	}
	article .galery{
		flex-flow: column;
		align-items: center;
	}
	article .galery div {
    	width: 500px;
    	height: 730px;
		margin-bottom: 200px;
	}
	article .galery div img {
	    width: 300px;
	    bottom: -170px;
	}

	/* /for category */


}
@media screen and (max-width: 1024px){
	/* for index */
	.main .logo{
		width: 247px;
		height: 247px;
		font-size: 130px;
	}
	.main h1{
		font-size: 85px;
	}
	.main p{
		font-size: 32px;
		line-height: 75px;
	}
	.main .line hr{
		width: 600px;
		height: 4px;
	}
	.main span{
		font-size: 50px;
	}
	.menu{
		height: auto;
	}
	.menu .block_1,
	.menu .block_2{
		display: flex;
		flex-flow: column;
	}
	.menu .block_1 a, .menu .block_2 a{
		justify-content: center;
		height: 33.33vh;
	}
	.menu .block_1 a span, .menu .block_2 a span {
		font-size: 55px;
	}
	.menu .block_1 a::before,
	.menu .block_2 a::before{
    	width: 100%;
    	left: 0;
	}
	.menu .block_1 a::after,
	.menu .block_2 a::after{
		height: 100px;
	    top: auto;
	    bottom: 0;
		background: rgba(0, 0, 0, 0.5);
	}
	.contact ul li{
		width: 65px;
		height: 65px;
	}
	.contact ul li img{
		width: 40px;
	}
	.menu .block_1 a:hover::before,
	.menu .block_2 a:hover::before{
	    background: #c7806a;
		width: 100%;
	}
	.menu .block_1 a:hover::after{
		height: 100%;
	}
	/* /for index */
	header .menu {
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-gap: 3px 0px;
	}
	header .menu li{
		width: auto;
		border: 0;
	}
	header .menu li a{
		font-size: 30px;
	}
	article hr{
		width: 65%;
	}
	article .price-list div {
	    width: 460px;
	    padding: 35px;
	    font-size: 35px;
	}
	article .price-list a:last-child div{
   		width: 600px;
   		padding: 30px;
	}

	.contact, footer .bg{
		padding: 60px;
	}
	.contact button,
	footer button{
		width: 220px;
		font-size: 35px;
		padding: 25px 8px;
	}
	.contact button img,
	footer button img{
		width: 40px;
	}
	.contact ul li, footer ul li{
		width: 65px;
		height: 65px;
	}
	.contact ul li img, footer ul li img{
		width: 45px;
	}
}

