{% load static %}
<div class="bg">
    <button class="share_but"><img src="{% static 'images/icons/share.svg' %}">Share</button>
    <ul>
        <li><a href="https://www.facebook.com/romkagirl">
            <img src="{% static 'images/icons/facebook.svg' %}">
        </a></li>
        <li><a href="https://t.me/marinakrepchuk_photo">
            <img src="{% static 'images/icons/telegram.svg' %}">
        </a></li>
        <li><a href="https://instagram.com/photo_krepchuk_marina?igshid=acdx1ymxrlyq">
            <img src="{% static 'images/icons/instagram.svg' %}">
        </a></li>
        <li><a href="https://invite.viber.com/?g2=AQAXaVaQhz%2FRN0zX3Ucze3LUNUbTjDBfuIcJa7HhEtfkF5gqLUpSrhbcpu1sjp%2BU">
            <img src="{% static 'images/icons/viber.svg' %}">
        </a></li>
    </ul>
</div>