*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	color: #000;
	font-family: 'Roboto';
	font-weight: 300;
}
body{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	background: rgba(180, 88, 76, 0.6);
}
.main{
	width: 36%;
	min-width: 610px;
	height: 100vh;
	max-height: 1080px;
	background-image: url('../images/bg.jpg');
	display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 105px;
    position: relative;
}
.main::before,
body::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(180, 88, 76, 0.6);
	z-index: 0;
}

.main .logo{
	width: 147px;
	height: 147px;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-size: 70px;
	line-height: 80px;
	color: #3E2D2F;
	text-shadow: 4px 0px 5px #B9897F;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
    z-index: 1;
}
.main h1,
header h1{
	font-size: 64px;
	line-height: 79.99%;
	letter-spacing: -0.03em;
	color: #fff;
	text-shadow: 3px -1px 9px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.main p,
header p{
	font-size: 24px;
	line-height: 51px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}
.main .line{
    width:100%;
	display: flex;
    align-items: center;
    z-index: 1;
}
.main .line hr{
	width: 56%;
	height: 2px;
	background-color: #fff;
	margin-left: 30px;
	z-index: 1;
}
.main span{
	font-weight: bold;
	font-size: 30px;
	line-height: 79.49%;
	letter-spacing: -0.03em;
	color: #fff;
	margin: 16px 11px;
	z-index: 1;
}
section.menu{
    width: 64%;
    max-width: 1232px;
    min-width: 750px;
    height: 100vh;
    max-height: 1080px;
    background: #8F554E;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.menu .block_1,
.menu .block_2{
	width: 100%;
	height: 44%;
	display: grid;
}
.menu .block_1{
	grid-template-columns: 1fr 1fr;
}
.menu .block_2{
	grid-template-columns: 1fr 1fr 1fr;
}
.menu .block_1 a,
.menu .block_2 a{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
    align-items: flex-end;
	position: relative;
	transition: 1s all ease;
	cursor: pointer;
	padding: 42px;
}
.menu .block_1 a span,
.menu .block_2 a span{
	font-weight: bold;
	font-size: 25px;
	line-height: 79.99%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	text-transform: uppercase;
	z-index: 1;
}
.menu .block_2 a:last-child{
	background-position-x: 100%;
}
.menu .block_1 a::before,
.menu .block_2 a::before{
	content: '';
	position: absolute;
    left: 25px;
    bottom: 32px;
    width: 40%;
    min-width: 200px;
	height: 4px;
	background-color: #fff; 
	z-index: 1;
	transition: 1s all ease;
}
.menu .block_1 a::after,
.menu .block_2 a::after{
	content: '';
	position: absolute;
    left: 0;
    width: 100%;
	z-index: 0;
	backdrop-filter: blur(5px);
	transition: 1s all ease;
}
.menu .block_1 a::after{
	height: 0;
    top: 0;
	background: rgba(0, 0, 0, 0.5);
}
.menu .block_2 a::after{
    height: 3%;
    bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}
.menu .block_2 a::before{
	width: 60%;
}
.menu .block_1 a:hover::before,
.menu .block_2 a:hover::before{
    background: #c7806a;
	width: 80%;
}
.menu .block_1 a:hover::after{
	height: 100%;
}
.menu .block_2 a:hover::after{
	height: 100%
}
.modal{
    width:100%;
    height:100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position:fixed;
    left:0;
    top:0;
    background:#000000a1;
    z-index:2;
}
.modal img{
    max-height:80vh;
}

.modal .share{
    width:600px;
    height:250px;
    background-color:#E2BBB6;
    display:none;
    justify-content:center;
    align-items:center;
    flex-flow:column;
}
.modal .share h1{
    font-family: Times New Roman;
    font-weight: 300;
    font-size: 45px;
    line-height: 79.99%;
    letter-spacing: -0.03em;
    text-transform:capitalize;
}
.modal .share p{
    font-family: Times New Roman;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform:uppercase;
    opacity: .5;
    line-height: 45px;
}
.modal .share section{
    display:flex;
}
.modal .share #st-1{
    display:flex!important;
}
.modal .share .st-btn{
    width:57px;
    height:auto!important;
    display:flex!important;
    justify-content:center!important;
    align-items:center!important;
    border-radius: 50%!important;
    padding:10px!important;
}
.modal .share .st-btn img{
    width:35px!important;
    height:auto!important;
    top:0!important;
    min-width:auto!important;
}
.modal .share button{
    border-radius:50%;
    padding:10px;
    margin-left:8px;
    transition: opacity 0.2s ease-in, top 0.2s ease-in;
    cursor:pointer;
}
.modal .share button:hover{
    position:relative;
    opacity: .8;
    top: -4px;
    background:#fff;
}
.modal .share button img{
    width:35px;
    min-width:auto!important;
}
footer{
	width: 100%;
	display: flex;
}
footer .bg{
    width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #8F554E;
	padding: 34px 21px 37px;
	z-index: 1;
}
footer button{
	width: 160px;
	background: #fff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 14px 8px;
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
	font-size: 24px;
	letter-spacing: 0.16em;
	text-shadow: 5px 3px 10px rgba(119, 87, 90, 0.2);
	text-transform: uppercase;
	cursor: pointer;
}
footer button img{
	width: 30px;
	margin-right: 8px;
}
footer ul{
	column-count: 4;
}
footer ul li{
	width: 55px;
	height: 55px;
	background-color: #fff;
	border-radius: 50%;
	margin-left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
footer ul li a{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer ul li img{
	width: 35px;
	min-width:auto;
	filter: drop-shadow(3px 1px 1px #77575A);
}
footer ul li:hover{
	border: 2px solid #000;
}
footer button:hover{
	box-shadow:0px 0px 20px #000;
}