<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {% include 'include/head.html' %}
</head>
<body>
<div class="wrapper">
    <header id="top">
        <h1>Marina Krepchuk</h1>
        <p>Photography Expert</p>
        <ul class="menu">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="{% if request.path == '/categories/individual' %}active{% endif %}">
                <a href="{% url 'category' slug='individual' %}">Individual</a>
            </li>
            <li class="{% if request.path == '/categories/baby' %}active{% endif %}">
                <a href="{% url 'category' slug='baby' %}">Baby</a>
            </li>
            <li class="{% if request.path == '/categories/family' %}active{% endif %}">
                <a href="{% url 'category' slug='family' %}">Family</a>
            </li>
            <li class="{% if request.path == '/categories/lovestory' %}active{% endif %}">
                <a href="{% url 'category' slug='lovestory' %}">Lovestory</a>
            </li>
            <li class="{% if request.path == '/categories/wedding' %}active{% endif %}" style="border:0;"><a
                    href="{% url 'category' slug='wedding' %}">Wedding</a>
            </li>
        </ul>
    </header>
    <article>
        <h1>{{ title }}
            <hr>
        </h1>
        <div class="content">
            <div class="galery">
                {% if images %}
                {% for image in images %}
                <div style="background-image: url('{{ image.big_image.url }}')">
                    {% if image.small_image %}
                    <img src="{{ image.small_image.url }}">
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                <br>
                <h1>Галерея пуста</h1>
                {% endif %}
            </div>
            <div class="price-list">
                <a href="https://t.me/marinakrepchuk_photo">
                    <div>Записатся</div>
                </a>
                <a href="https://instagram.com/photo_krepchuk_marina?igshid=acdx1ymxrlyq">
                    <div>Оставить отзыв</div>
                </a>
            </div>
        </div>

        <div class="top_button">
            <img src="{% static 'images/icons/top.svg' %}">
        </div>
    </article>
    <footer>
        {% include 'include/footer.html' %}
    </footer>
</div>
{% include 'include/modal.html' %}
</body>
</html>
