<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'include/head.html' %}
</head>
<body>
<section class="main">
    <h1>Marina Krepchuk</h1>
    <p>Photography Expert</p>
    <div class="line">
        <img src="{% static 'images/icons/rectangle.svg' %}">
        <hr>
    </div>
    <span>let's make a funky photo story<br>together!</span>
</section>
<section class=" menu">
    <div class="block_1">
        <a href="{% url 'category' slug='individual' %}"
           style="background-image: url('{% static 'images/photo_1.png' %}')"><span>Individual</span></a>
        <a href="{% url 'category' slug='baby' %}"
           style="background-image: url('{% static 'images/photo_2.png' %}')"><span>Baby</span></a>
    </div>
    <div class="block_2">
        <a href="{% url 'category' slug='family' %}"
           style="background-image: url('{% static 'images/photo_3.png' %}')"><span>Family</span></a>
        <a href="{% url 'category' slug='lovestory' %}"
           style="background-image: url('{% static 'images/photo_4.png' %}')"><span>Lovestoty</span></a>
        <a href="{% url 'category' slug='wedding' %}"
           style="background-image: url('{% static 'images/photo_5.png' %}')"><span>Wedding</span></a>
    </div>
    <footer>
        {% include 'include/footer.html' %}
    </footer>
</section>
{% include 'include/modal.html' %}
</body>
</html>
